@model CampusChat.Models.AspNetUser

@{
    ViewBag.Title = "Profile";
}

<h2>@User.Identity.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Profile Pic")
        </dt>

        <dd>
            @{
                var imgSource = String.Format("data:image/gif;base64,{0}", Model.ProfilePic);
            }
            <img src="@imgSource" />
        </dd>
        <dt>
            Change profile picture:
        </dt>
        <dd>
            @using (Html.BeginForm("ChangeProfilePicture", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="OK" />
            }
        </dd>

        <dt>
            Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Message:
        </dt>
        <dd>
            @Html.ActionLink("Send Message", "../Messages/Create")
        </dd>


        <dt>
            College:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.University.Name)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Major:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Major)
        </dd>

        <dt>
            Graduation Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedGraduationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Biography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Biography)
        </dd>
        <dd>
            @using (Html.BeginForm("EditBiography", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="Button" name="EditBio" value="Edit Biography" onclick="@("window.location.href='" + @Url.Action("EditBiography", "Account") + "'");" />
            }
        </dd>
    </dl>

    <p style="text-align:center">
        <a href="http://localhost:58732/Manage" class="btn btn-primary btn-lg">Account setting</a>
    </p>
</div>
