@model IEnumerable<CampusChat.Models.Message>

@{
    ViewBag.Title = "Inbox";
}

<h2 style= "text-align:center">Inbox</h2>

<p>
    @Html.ActionLink("New Message", "Create")
</p>


<table class="table">
    <tr>
        <th>
            From
        <th>
        <th>
            Message
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentTime)
        </th>
    </tr>
    

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser1.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SentTime)
            </td>

            <td>

                @Html.ActionLink("Reply", "../Messages/Create", new { id = item.MessageID}) |
                @Html.ActionLink("Details", "Details", new { id = item.MessageID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })

            </td>
        </tr>
    }

</table>
<p>@Html.ActionLink("See Sent Messages", "SentMessages")</p>
